* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    background-color: rgb(0, 0, 30);
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(2, 2, 74);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: rgb(157, 157, 235);
    font-size: 1.01rem;
}

.left {
    font-size: 1.75rem;
    cursor: pointer;
}

.left a {
    text-decoration: none;
    color: #fff;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.firstsection > div {
    width: 30%;
}

.leftsection {
    font-size: 2.5rem;
    margin: 30px 0;
    line-height: 3.5rem;
}

.leftsection .buttons {
    padding: 50px 0;
}

.rightsection img {
    width: 100%;
}

.purple {
    color: rgb(196, 148, 240);
}

footer {
    background-color: rgb(19, 19, 19);
    height: 200px;
}

.footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.footer li {
    list-style-type: none;
    margin: 10px 0;
}

.footer li a {
    text-decoration: none;
    color: #fff;
}

.btn {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: rgb(45, 42, 42);
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(142, 234, 142);
    color: #000;
    border: 1px solid #000;
}

.copy-rightsection {
    text-align: center;
    padding: 10px 0;
    color: #fff;
    background-color: rgb(19, 19, 19);
    font-size: 0.9rem;
}

.About-me {
    margin: 2.5rem 2.5rem;
}

.About-me h1{
    margin: 2.5rem 2.5rem;
    border-bottom: 1px solid #fff;
}

.about-mecontent {
    margin: 1rem 3rem;
    white-space: wrap;
}

.skills {
    margin: 1rem 3rem;
}

.skills h4 {
    margin: 0.5rem 2rem;
}

.skillssection {
    display: flex;
}

.skillimg img {
    height: 500px;
    width: 500px;
    margin-left: 100px;
    margin-top: -130px;
}

.education-content {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-graph {
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 1rem;
}

.education-line {
    border:1px solid #000;
    height: 1px;
    width: 90%;
    margin: 150px 50px;
    display: flex;
    justify-content: space-evenly;
}

.vertical-line {
    border: 1px solid #000;
    height: 70px;
    width: 1px;
}

.edu-content {
    font-size: 0.65rem;
    margin-left: -20px;
    color: black;
}

.contactspace {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    background-color: #fff;
    height: 90%;
    width: 30%;
    border-radius: 1rem;
    color: black;
}

.contacts ul {
    list-style-type: none;
    margin: 3rem 2rem;
}

.contacts ul li {
    margin: 1rem;
}